<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include("partials/nav")%>
    <div class="about-section">
        <h2>About Us</h2>
        <p>Welcome to our website! We are dedicated to...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae metus eget quam faucibus malesuada. Sed fringilla tortor eget...</p>
        <p>Feel free to explore our site and learn more about what we do!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quibusdam dolores in quia quas itaque reiciendis atque odio dolore natus asperiores laudantium omnis libero vero, provident sint odit culpa molestiae error a eligendi vitae et magnam nobis. Asperiores unde, repellat iusto ipsa dolorum porro officia sed quam dolore. Excepturi, provident.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure voluptas ut consequuntur eos corporis ipsam quis minus. Velit illo nostrum exercitationem. Nostrum quis suscipit itaque, ut odit doloremque id quidem dolores porro sit animi, assumenda, voluptatem eveniet tempore. Reiciendis dicta dignissimos maiores architecto totam natus aperiam aliquid repellendus quia voluptatem?
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nesciunt atque laudantium ipsum non sequi necessitatibus molestiae quisquam illo magni, sed illum laboriosam aliquam minus. Recusandae assumenda delectus nulla quam aliquid? Sapiente numquam incidunt, at accusamus nostrum beatae culpa corrupti. Ipsam saepe veniam quos? Possimus, ipsam! In laborum, esse dolore unde magnam veritatis officiis quas doloremque qui fugit quisquam beatae?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam reiciendis voluptas, explicabo eum non est. Eligendi tenetur nisi reprehenderit sint magni veniam eveniet corrupti saepe sequi numquam exercitationem consectetur quos tempora, delectus ea dolor perferendis nobis libero recusandae tempore nam cum eaque repellendus ad. Unde alias tempora explicabo cum quae.
    </p>
      </div>
    
    
</body>
</html>