<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
  <%- include("partials/nav")%>
  <h1>UPLOAD YOUR IMAGES</h1>
    <div class="container">
    <form action="/uploadFile" method="post" enctype="multipart/form-data">
        <input type="text" name="username" placeholder=" Enter File Name">
      <div class="file"><input type="file" name="avatar"></div>
        <div class="cc"><button>Submit</button></div>
      </form>
    </div>
</body>
</html>