.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
   top: 50%;
   left: 30%;
   
}
h1{
    text-align: center;
    padding-top: 10%;
    color: #fff;
font-size: 40px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form{
    display: flex;
    
    color: #fff;
}
.file > input {
border: none;
transform: translateX(-10%);

}
input{
    padding: 20px 50px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px bold white;
    border-style: solid;
    font-size: 15px;
    color: #fff;
}
.cc>button{
    border-radius: 10px;
    padding: 20px 50px;
    font-size: 15px;
    font-weight: 500;
   
    transform: translateX(-70%);
    color: #fff;
background-color: #ffcc00;  
border: #ffcc00;  
}
.cc>button:hover{
    background-color: transparent;
    border: 2px bold white;
border-color: #fff;
    border-style: solid;
    color: #fff;

}
@keyframes NO {
    from, to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%, 40%, 60%, 80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }
@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}